---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<div id="inspire-citations" data-author-id="1274148" data-author-bai="Shanshan.Cao.1" data-lang="en"></div>

{% if site.author.inspire-hep %}
  <div class="wordwrap">Full publication list available at <a href="{{site.author.inspire-hep}}">INSPIRE-HEP</a> </div>
{% endif %}

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my publications at <a href="{{site.author.googlescholar}}">Google Scholar</a> </div>
{% endif %}



{% include base_path %}

{% comment %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

{% endcomment %}

